
<mat-card>
   <mat-card-title class="text-center">Proyectos</mat-card-title>
      <div *ngFor="let proyecto of proyectos" id="main-container" id="blackbackground">
         <mat-card id="proyecto-card">
            <mat-card-title-group>
              <mat-card-title>{{proyecto?.nombre}}</mat-card-title>
              <mat-card-subtitle>{{proyecto?.descripcion}}</mat-card-subtitle>
              <img mat-card-image src={{proyecto?.imglink}} >
            </mat-card-title-group>
            <mat-card-content>
              {{proyecto?.resumen}}
            </mat-card-content>
            <mat-card-actions>
               <button mat-stroked-button color="accent" *ngIf="isAdmin" (click)="onOpenModal(proyecto, 'edit')"> Editar</button>
               <button mat-stroked-button color="accent" *ngIf="isAdmin" (click)="onOpenModal(proyecto, 'delete')"> Borrar</button>

           
            </mat-card-actions>
          </mat-card>
   
                                  </div>
                           
   
<div>
    <button *ngIf="isAdmin" mat-button color="accent" (click)="onOpenModal(null,'add')">Agregar Proyecto</button>
</div>





<div class="modal fade" id="addProyecto" role="dialog" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Agregar Proyecto</h5>
            <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddProyecto(addForm)">
               <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre" required>
               </div>
               <div class="form-group">
                <label for="email">Descripcion</label>
                <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="Descripcion breve" required>
             </div>
             <div class="form-group">
                <label for="email">Resumen</label>
                <input type="text" ngModel name="resumen" class="form-control" id="resumen" placeholder="Resumen breve" required>
             </div>
             <div class="form-group">
                <label for="email">Link de img</label>
                <input type="text" ngModel name="imglink" class="form-control" id="imglink" placeholder="Imagen del proyecto" required>
             </div>
             <div class="form-group">
               <label for="email">Link del proyecto de Github</label>
               <input type="text" ngModel name="gitlink" class="form-control" id="gitlink" placeholder="Link de Github" required>
            </div>
             <div class="modal-footer">
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
               <button type="button" id="add-experiencia-form" class="btn btn-secondary no" data-dismiss="modal">Cancelar</button>
     
            </div>
          </form>
       </div>
      </div>
    </div>
 </div>

 <div class="modal fade" id="updateProyecto" tabindex="-1" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Editar experiencia</h5>
             <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Cargo</label>
                   <input type="text" ngModel="{{editProyectos?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Ingrese el nombre del proyecto">
                </div>
                <input type="hidden" ngModel="{{editProyectos?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-group">
                   <label for="name">Descripcion</label>
                   <input type="text" ngModel="{{editProyectos?.descripcion}}" name="descripcion" class="form-control" id="descripcion" placeholder="Resumen">
                </div>
                <div class="form-group">
                   <label for="phone">Resumen</label>
                   <input type="text" ngModel="{{editProyectos?.resumen}}" name="resumen" class="form-control" id="resumen" placeholder="Ingrese un breve resumen">
                </div>
                <div class="form-group">
                    <label for="phone">Link de la imagen</label>
                    <input type="text" ngModel="{{editProyectos?.imglink}}" name="imglink" class="form-control" id="imglink" placeholder="Ingrese la URL de la imagen">
                 </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary no">Cancelar</button>
                   <button (click)="onUpdateProyecto(editForm.value)" data-dismiss="modal" class="btn btn-primary">Guardar cambios</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>

 <div class="modal fade" id="deleteProyectos" tabindex="-1" role="dialog" aria-labelledby="employeedeleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>¿Esta seguro que desea borrar {{deleteProyectos?.nombre}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteProyecto(deleteProyectos.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
</mat-card>