<p>perfil works!</p>
<mat-card *ngFor="let Perfil of perfiles">
    <div id="main-container">
        <div class="d-block mx-auto"><img class="img-fluid" src="{{Perfil?.bannerlink}}"></div>
        <section class="bg-dark">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12 mb-4 mb-sm-5">
                       <div class="card card-style1 border-0">
                           <div class="card-body bg-dark p-1-9 p-sm-2-3 p-md-6 p-lg-7" id="gris">
                               <div class="row align-items-center">
                                   <div class="col-lg-6 mb-4 mb-lg-0">
                                       <img id="fotoperfil"class="center" src={{Perfil?.imgLink}} alt="Francisco Giunta">
                                   </div>
                                   <div class="col-lg-6 px-xl-10" id="gris">
                                       <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                           <h3 class="mb-0 text-center" id="titulo">{{Perfil?.nombre}}</h3>
                                           <br>
                                           <span class=" text-center" id="subtitulo">{{Perfil?.titulo}}</span>
                                      <br></div>
                                       <div id="gris">
                                         <h2 id="texto" style="color:violet">{{Perfil?.resumen}}</h2>
                                       </div>
                                       <div class="float-right btn-group btn-group-sm">
                                         <button mat-button color="accent" (click)="onOpenModal(Perfil, 'edit')">Editar</button>
                                      </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
         </div>
           </div>
        </section>
     



 <!-- Edit Modal -->
 <div class="modal fade" id="updateEmployeeModal" tabindex="-1" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Editar datos personales</h5>
             <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Nombre y apellido</label>
                   <input type="text" ngModel="{{editPerfil?.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editPerfil?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-group">
                   <label for="phone">Titulo</label>
                   <input type="text" ngModel="{{editPerfil?.titulo}}" name="titulo" class="form-control" id="puesto" placeholder="Job title">
                </div>
                <div class="form-group">
                   <label for="phone">Resumen</label>
                   <input type="text" ngModel="{{editPerfil?.resumen}}" name="resumen" class="form-control" id="ubicacion" placeholder="Ingrese su ubicación">
                </div>
                <div class="form-group">
                   <label for="phone">URL de la foto de perfil</label>
                   <input type="text" ngModel="{{editPerfil?.imgLink}}" name="imgLink" class="form-control" id="url_foto" placeholder="Ingrese URL de la foto de perfil">
                </div>
                <div class="form-group">
                   <label for="phone">URL de la foto del banner</label>
                   <input type="text" ngModel="{{editPerfil?.bannerlink}}" name="bannerlink" class="form-control" id="url_foto_banner" placeholder="Ingrese URL de la foto del banner">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                   <button (click)="onUpdatePerfil(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Guardar cambios</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>