
 <div class="div grisoscuro main-container" *ngFor="let Educacion of educaciones">
   
    <div class="text-center gris">
       <a> <img src={{Educacion.imgUrl}}></a>
        <br>
        <H1>{{Educacion?.titulo}}</H1>
        <h3>{{Educacion?.institucion}}</h3>
        <h4>{{Educacion?.fecha}}</h4>
         <br>
        <br>
        <div class="float-right btn-group btn-group-sm">
         <a (click)="onOpenModal(Educacion,'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil">Editar</i> </a>
         <a (click)="onOpenModal(Educacion,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times">Borrar</i></a>
      </div>
    </div>
 </div>
 <a (click)="onOpenModal(null,'add')" class="btn btn-primary tooltips"><i class="fa fa-plus"><span class="sr-only">Agregar</span></i></a>
 <div class="modal fade" id="updateEducacion" tabindex="-1" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Editar datos educativos</h5>
            <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="name">Titulo</label>
                  <input type="text" ngModel="{{editEducacion?.titulo}}" name="titulo" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Ingrese el nombre del instituto educativo">
               </div>
               <input type="hidden" ngModel="{{editEducacion?.id}}" name="id" class="form-control" id="id" placeholder="Email">
               
               <div class="form-group">
                  <label for="phone">Institucion</label>
                  <input type="text" ngModel="{{editEducacion?.institucion}}" name="institucion" class="form-control" id="institucion" placeholder="Ingrese el año de inicio">
               </div>
               <div class="form-group">
                  <label for="phone">Img URL</label>
                  <input type="text" ngModel="{{editEducacion?.imgUrl}}" name="imgUrl" class="form-control" id="imgUrl" placeholder="Ingrese la URL de la imagen">
               </div>
               <div class="form-group">
                   <label for="phone">Fecha</label>
                   <input type="text" ngModel="{{editEducacion?.fecha}}" name="fecha" class="form-control" id="fecha" placeholder="Ingrese la fecha de egreso">
                </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary no">Cancelar</button>
                  <button (click)="onUpdateEducacion(editForm.value)" data-dismiss="modal" class="btn btn-primary">Guardar cambios</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

     <!-- delete Modal -->
     
    <div class="modal fade" id="deleteEducacion" tabindex="-1" role="dialog" aria-labelledby="employeedeleteModelLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>¿Esta seguro que desea borrar {{deleteEducacion?.titulo}}?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteEducacion(deleteEducacion?.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
               </div>
            </div>
         </div>
      </div>
    </div>

    <div class="modal fade" id="addEducacion" role="dialog" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addEmployeeModalLabel">Agregar estudios</h5>
              <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
                 <div class="form-group">
                    <label for="name">Nombre del instituto</label>
                    <input type="text" ngModel name="titulo" class="form-control" id="nombreInstituto" placeholder="Ingrese el nombre del instituto educativo" required>
                 </div>
                 <div class="form-group">
                    <label for="email">Título</label>
                    <input type="text" ngModel name="institucion" class="form-control" id="titulo" placeholder="Ingrese el título obtenido" required>
                 </div>
               <div class="form-group">
                  <label for="email">Año de finalización</label>
                  <input type="number" ngModel name="fecha" class="form-control" id="fecha" placeholder="Ingrese el año de finalización" required>
               </div>
               <div class="form-group">
                  <label for="email">URL del logo del instituto</label>
                  <input type="text" ngModel name="imgUrl" class="form-control" id="imgUrl" placeholder="Ingrese la URL del logo del instituto" required>
               </div>
               <div class="modal-footer">
                 <button type="button" id="add-educacion-form" class="btn btn-secondary no" data-dismiss="modal">Cancelar</button>
                 <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
         </div>
        </div>
      </div>
   </div>

   
    