<div class="div grisoscuro">
    <br>
    <br>
    <br>
    <h1 class="text-center col-lg-12 grisoscuro">Experiencia laboral</h1>
    <br>
    <br>
    <br>
</div>
    <div class="text-center gris">
        <br>
        <H1>Estudios secundarios</H1>
        <h3>Instituto Sagrado Corazon de Jesus</h3>
        <h4>Técnicatura en Informática personal y profesional</h4>
         <br>
        <br>
    </div>
    <div class="text-center gris g-0">
        <br>
        <H1>Estudios universitarios</H1>
        <h3>Universidad Nacional de Hurlingham</h3>
        <h4>Lic. en Informática</h4>
        <p>Año de ingreso: <strong>2021</strong>  <br>
        <br>
        </p>
    </div>