
<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark" >
    <div class="container-fluid bg-dark me-auto">
      <a class="navbar-brand" >
        <img
          src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png"
          height="80"
          alt="argentinaprograma"
          loading="lazy"
        />
      </a>
      <ul class="navbar-nav d-flex flex-row">
        <!-- Icons -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#">
            <img id="icon" src="https://cdn-icons-png.flaticon.com/512/61/61109.png">
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="#">
            <img id="icon" src="https://i.pinimg.com/originals/7f/7b/87/7f7b872e56430e68d69538b17525c51c.png">
          </a>
        </li>
       
        <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <img id="icon" src="https://w7.pngwing.com/pngs/670/396/png-transparent-computer-icons-github-icon-design-logo-github-cat-like-mammal-carnivoran-logo-thumbnail.png">
            </a>
          </li>
      </ul>
    </div>
  </nav>